extend layout

block content
  h1(align="center",style="font-style:italic; font-weight:bolder;") List of Employee
   p
    a#delete.btn.btn-default(hrer="#") Delete
    |  
    a#add.btn.btn-default(href="/employees/add") Add new
  table.table.table-bordered.table-striped.noborder
    thead
      tr(style="font-style:italic; font-weight:bolder;")
        th
        th ID
        th Name
        th Designation
        th Department
        th Update
    tbody
      if !employees.length
        tr
          td(colspan=6) You should add a Employee
      else
        each employee in employees
          tr
            td 
              input(type="checkbox", id=employee.id)
            td #{employee.id}
            td #{employee.name}
            td #{employee.designation}			
            td #{employee.department}
            td 
              a(href="/employees/#{employee.id}") Update
  div(style="margin-left:45%;").pull-left
          a.btn.btn-primary.btn-lg(href="/") Return to Home         